pre,
code,
pre tt {
  font-family: Iosevka, Consolas;
}

blockquote {
  border-left: .25em solid;
  margin: 1em;
  padding: 0 1em;

  cite {
    font-weight: bold;
    font-style: normal;

    &::before {
      content: "—— ";
    }
  }
}
